{{define "index"}}<!-- Template Name -->
<!DOCTYPE html>
<html>
<head>
<title>{{.Title}}</title> <!-- .Title is used to access the values of our struct same is in the case with .Content -->
</head>
<body>
<h1>{{.Content}}</h1>
</body>
</html>
{{end}}